window.bar {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
  border-radius: 10px;
}

button {
  min-width: 0;
  border: hidden;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: transparent;
}

button:active {
  background-color: @theme_selected_bg_color;
}

label {
  font-weight: bold;
  border: hidden;
}

.workspaces label {
  font-size: 0;
  min-width: 5pt;
  min-height: 5pt;
  border-radius: 6.6px;
  box-shadow: inset 0 0 0 1px #eeeeeef4;
  margin: 0 3.5px;
  transition: 100ms;
  background-color: #645f64;
}

.workspaces label.occupied {
  background-color: #ffdce6;
  min-width: 7pt;
  min-height: 7pt;
}

.workspaces label.active {
  background-image: linear-gradient(to right, #f096a3, #ec7687);
  min-width: 20pt;
  min-height: 12pt;
}
.client-title {
  color: @theme_selected_bg_color;
}

.notification {
  color: yellow;
}

levelbar block,
highlight {
  min-height: 10px;
}
.battery {
  color: #77e6b4;
}

.charging {
  color: aqua;
}
