* {
  font-family: "Fira Code";
  font-size: 14px;
  min-height: 10px;
  font-weight: bold;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar {
  background-color: transparent;
  color: #000000;
  padding-top: 5px;
}

/* window#waybar.floating { */
/*   background-color: #111111; */
/*   color: #ffffff; */
/* } */
/* window#waybar.footclient { */
/*   background-color: #111111; */
/*   color: #ffffff; */
/* } */
/**/
/* window#waybar.firefox { */
/*   background-color: #eeeeee; */
/*   color: #000000; */
/* } */
window>box {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

#workspaces {
  padding-left: 0px;
  padding-right: 4px;
  margin-top: 10px;
}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  color: #f34065;
  background: #1a281e;
}

#workspaces button.active {
  background-color: #dfb7ff;
  color: #1a1826;
}

#workspaces button.urgent {
  color: #1a1826;
}

#workspaces button:hover {
  background-color: #f8bd96;
  color: #1a1826;
}

tooltip {
  color: #302d41;
}

tooltip label {
  color: #d9e0ee;
}

#memory,
#temperature,
#cpu,
#network,
#systemd-failed-units,
#bluetooth,
#custom-wallpaper {
  margin-top: 4px;
  padding-left: 9px;
  padding-right: 9px;
  background: #000000;
}

#memory {
  color: #b5e8e0;
}

#bluetooth {
  color: #a8e1ff;
}

#systemd-failed-units {
  color: red;
}

#cpu {
  color: #f5c2e7;
}

#idle_inhibitor {
  color: #ddb6f2;
}

#temperature {
  color: #96cdfb;
}

#network {
  color: #abe9b3;
}

#network.disconnected {
  color: #ffffff;
}

#custom-wallpaper {
  transition: none;
  color: #dfcdff;
}
